/*index.html css*/
/*apptitle*/
.app-name{
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 1.3em;
  margin-left: 20px;
/*start of navbar css*/
}
.ul-navbar{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F96EB;
  list-style-type: none;

}
.li-navbar {
  float: right;
  margin-top: 10px;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;

}

.navbar-link{

}
/*end of navbar css*/

/*Users.html css*/
#signupform{
  text-align: center;
  font-size: 1.2em;
}
#loginform{
  text-align: center;
  font-size: 1.2em;
}
#signupform input{
  width: 180px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginform input{
  width: 180px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signupbutton{
  margin-top: 10px;
  width: 140px;
  height: 30px;
  font-family: 'Lora', serif;
  font-size: 1em;
  color: black;
  background-color: #5F96EB;

}

.loginbutton{
  margin-top: 10px;
  width: 140px;
  height: 30px;
  font-family: 'Lora', serif;
  font-size: 1em;
  color: black;
  background-color: #5F96EB;
}
/*end of users css*/

/*home.html css*/
#homebody{
  background-image: url("../images/FoodWallpaper.jpg");
  background-size: 1409px 1881px;
  background-repeat: no-repeat;

}

.about{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#aboutID {
  margin-top: 0;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  text-align: center;
  text-shadow: .1em .2em #5F96EB;
  animation-name: typing;
}

@keyframes typing {

}
.user-page{
  font-family: 'Anton', sans-serif;
  font-size: 2.5em;
  text-align: center;
  text-shadow: .1em .2em #5F96EB;
}

.here{
  color: #5F96EB;
}

.home-signin{
  color: #5F96EB;
}

.learn-more{
  text-align: center;
}

@keyframes user {
  0% from {width: 0px;}
  10% {width: 60px;}
  20% {width: 120px}
  30% {width: 180px;}
  40% {width: 240px;}
  50% {width: 300px;}
  60% {width: 360px;}
  70% {width: 420px;}
  80% {width: 480px;}
  90% {width: 540px;}
  100% {width: 600px;}
}
.user-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 600px;
  animation-name: user;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.home-calendar{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 2.5em;
  text-align: center;
  text-shadow: .1em .2em #5F96EB;
}

.home-weekly-calendar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 400px;
}

.user-calendar{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align; center;

}
.home-daily{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 2.5em;
  text-align: center;
  text-shadow: .1em .2em #5F96EB;
}

.meal-explain{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align; center;
}
.daily{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 600px;
}
/*End of Home CSS*/

/*Main.html CSS*/
.weekly-section {
/*display: block;
position: absolute;*/
float: right;
background-color: #5F96EB;
min-width: 200px;
height: 500px;
overflow: scroll;
text-align: center;
margin-top: 8%;

}
.DayBox {
  font-size: 1.5em;
  width: 300px;
  height: 230px;
  border-top: solid black;
}

.Full-List{
  width: 500px;
  height: 500px;
  text-align: center;

}

/*CSS for Meal Schema and Ingredients Schema*/
.MealList{
  margin-top: 8%;
  text-align: center;
  display: block;
}
