<div id="homebody">
    <div class="about">
      <h1 id="aboutID"> What's Cooking </h1>
      <p> A food journal entry to create weekly meals for food-enthusiast looking to spice up their meals while remaining healthy</p>
    </div>
    <div>
      <h1 class="user-page"> User Page </h1>
      <p class="learn-more"> <span class="home-signin">Sign in </span> now to create your own weekly diet! Not Signed up yet? Sign up now by clicking <span  class="here" ui-sref='users'> here </span></p>
      <img class="user-image" src="http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg" alt="Image of User Page">
    </div><br>
    <div>
      <h1 class="home-calendar"> Customizable Calendar </h1>
      <p class="user-calendar"> As a user, you are able to create your own weekly schedule. Customize each day according to your macro plans or just put tacos on Tuesday because every loves tacos.</p>
      <img class="home-weekly-calendar" src="http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg" alt="Image of Calendar Page">
    </div>
    <div>
      <h1 class="home-daily"> Customize Your Meals </h1>
      <p class="meal-explain"> Created your meal plan three days ago, but your craving something else now? Change it. Our customizable application is able to edit your daily recipes so you can eat the meals that you enjoy. </p>
      <img class="daily" src="http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg" alt="Image of Calendar Page">
    </div>
</div>
