<!-- TODO: grocery list -->
<!-- TODO: will show as a partial in the main -->
<ul class="groceries" ui-serf='show'>
    <li>Chicken<button ng-click='users.markOnHand()'>Mark on Hand</button> </li>
    <!-- TODO: There should be a mark on hand button on each grocery items -->
</ul>

<!-- Meal show partial needs an edit form that shows up when the edit button is clicked  -->
<!-- Meal show partial needs a delete button  -->
<!-- Edit form should trigger client method updateMeal() -->

<ui-view>
    <!-- the recommended views show up here -->
</ui-view>
