<!-- can also do hide and show in combination where one is always false so they never show at the same time -->
<section class="login">
    <div id="loginform">
        <form ng-submit="users.login(user)">
            <!-- will fix to show when log in was clicked returnUser = false expect when login up function clicked and turns it true as well newuser must turn false -->
            <h2> Log-in now to view your weekly meal plan! </h2><br>
            <label for="email">Email:</label><br>
            <input type="email" ng-model="user.name" name="email" placeholder="Who are you again?"><br>
            <label for="password">Password:</label><br>
            <input type="text" ng-model="user.password" name="password" placeholder="What's the password?"><br>
            <button class="loginbutton" type="submit" >Login!</button>
        </form>
    </div>
</section>

<!-- TODO: login -->
