<section class="weekly-section">
    <div>
        <h2> Days of the Week <h2>
  </div>
  <div ng-repeat="meal in meals.mealsIndex" class="DayBox">
    <h4> {{meal.date}} </h4>
    <p> Meal: {{meal.name}} </p>
    <p> Ingredient: {{meal.name}} </p>
<button type="button">View More</button>
    <button type="button" name="addMeal">Add Meal</button>
  </div>

<div class="MealList">
  <h3> What to eat... </h3>
  <p> Name: </p>
  <p> Ingredients: </p>
  <button type="button" name="Editmeal"> Edit Meal</button>

</div>
